<div id="web-content" class="d-flex p-3 mx-auto flex-column">
    <header class="mb-4">
        <!-- List sidebar region -->
            <app-navbar-main-page></app-navbar-main-page>
        <!-- End list sidebar region -->
    </header>

    <main class="container">
        <!-- Router page region -->
            <router-outlet></router-outlet>
        <!-- End roter page region -->
    </main>
    <footer class="mt-auto text-white-50 text-center">
        <span>
            <p>Copyright © Todos los derechos reservados.</p>
            <p>Contacto: cristian.gl.wd@gmail.com</p>
            <p>GitHub: <a href="https://github.com/cristian-gl-wd">cristian.gl.wd</a></p>
        </span>
    </footer>
</div>