<div *ngIf="false" id="searcher"> //TODO: finish searcher to replace the actual searcher
    <i class="bi bi-search"></i>
    <form autocomplete="off">
        <input type="search" class="form-control" placeholder="Search something...">
    </form>
    <div class="searcher-options">
        <nav class="nav nav-masthead">
            <a class="nav-link">
                Country
            </a>
            <a class="nav-link active">
                Region
            </a>
            <a class="nav-link">
                Capital
            </a>
        </nav>
    </div>
</div>