<app-country-form class="col-12" (onEnterPress)="search($event)" (onDebounce)="suggestions(query)" placeholder="Write a country name..."></app-country-form>

<div class="alert alert-danger alert-dismissible fade show" *ngIf="hasError" role="alert">
  <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
  <strong>Error</strong>
  <p>Sorry, we couldn't found any country which coincide with <strong>"{{ query }}"</strong></p>
</div>

<app-country-table *ngIf="countries.length>0" [countries]="countries"></app-country-table>
