<div *ngFor="let country of countries; index as i" class="card pb-2 pt-2">
    <a [routerLink]="['/country', country.cca3 | lowercase]">
        <div class="row g-0">
            <div class="col-2">
                <img [src]="country.flags.svg" class="img-fluid flag" alt="Flag">
            </div>
            <div class="col-10">
                <div class="card-body">
                    <h5 class="card-title">{{ country.name.common }}<span *ngIf="country.capital?.length">, {{ country.capital }}</span></h5>
                    <p class="card-text">{{ country.name.official }}</p>
                    <p class="card-text"><small>{{ country.population | number }} population</small></p>
                    <img *ngIf="country.coatOfArms.svg" [src]="country.coatOfArms.png" class="img-fluid coatOfArms " alt="Coat of arms">
                </div>
            </div>
        </div>
    </a>
</div>