<div *ngFor="let country of countries; index as i" class="card pb-2 pt-2">
    <a [routerLink]="['/country', country.fifa]">
        <div class="row g-0">
            <div class="col-2">
                <img [src]="country.flags.png" class="img-fluid flag" alt="Flag">
            </div>
            <div class="col-10">
                <div class="card-body">
                    <h5 class="card-title">{{ country.name.common }}<span>, {{ country.capital }}</span></h5>
                    <p class="card-text">{{ country.name.official }}</p>
                    <p class="card-text"><small>{{ country.population | number }} population</small></p>
                    <img *ngIf="country.coatOfArms.png" [src]="country.coatOfArms.png" class="img-fluid coatOfArms " alt="Coat of arms">
                </div>
            </div>
        </div>
    </a>
</div>

<!-- <div class="table-responsive">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Flag</th>
                <th scope="col">Name</th>
                <th scope="col">Capital</th>
                <th scope="col">Population</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let country of countries; index as i">
                <td scope="row">{{ i+1 }}</td>
                <td class="flag">
                    <img [src]="country.flags.png" class="small-img" alt="Flag">
                </td>
                <td>{{ country.name.common }}</td>
                <td>{{ country.capital }}</td>
                <td>{{ country.population | number }}</td>
                <td>
                    <a [routerLink]="['/country', country.fifa]">View more...</a>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->